alembic==1.0.0
aniso8601==3.0.2
argon2-cffi==18.1.0
awscli==1.16.10
botocore==1.12.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
docutils==0.14
ebcli==4.0.18
enum34==1.1.6
Flask==1.0.2
Flask-Admin==1.5.1
Flask-Argon2==0.1.2.2
Flask-JWT==0.3.2
Flask-Migrate==2.2.1
Flask-RESTful==0.3.6
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
gunicorn==19.9.0
idna==2.7
itsdangerous==0.24
Jinja2==2.11.3
jmespath==0.9.3
keyring==9.0
keyrings.alt==3.1
Mako==1.0.7
MarkupSafe==1.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
pyasn1==0.4.4
pycparser==2.18
PyJWT==1.4.2
python-dateutil==2.7.3
python-editor==1.0.3
pytz==2018.5
PyYAML==3.13
requests==2.19.1
rsa==3.4.2
s3transfer==0.1.13
six==1.11.0
SQLAlchemy==1.2.10
urllib3==1.23
uWSGI==2.0.17.1
Werkzeug==0.14.1
WTForms==2.2.1
